.home-page-wrap {
  background-image: url(../../assets/hero-img.png);
  width: 100vw;
  height: 690px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.pay-sync-hero-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.pay-sync-hero-text-wrap h1 {
  font-size: clamp(35px, 5vw, 45px);
  line-height: 58px;
  text-align: center;
  color: #14274e;
  font-weight: 600;
  position: relative;
  bottom: 30px;
  line-height: 50px;
}

.pay-sync-hero-text-wrap h4 {
  font-family: Nunito;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #14274e;
  opacity: 0.58;
}

.about-app-home-page {
  background-color: white;
}

.download-app-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avalable-home {
  margin-bottom: 20px;
}

.avalable-home h1 {
  font-weight: 600;
  font-size: 31px;
  text-align: left;
  color: #14274e;
}

.download-store-home img {
  margin-right: 15px;
  cursor: pointer;
}

.trustedby-sec-home {
  margin-top: 50px;
}

.trustedby-sec-home h1 {
  font-weight: 600;
  font-size: 31px;
  text-align: left;
  color: #14274e;
  text-align: center;
}

.trusted-by-images-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.trusted-by-images-home img {
  margin-right: 10px;
  margin-bottom: 20px;
}

.hr-home-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 35px;
}

.hr-home-sm {
  width: 120px;
  height: 3px;
  background-color: orange;
  text-align: center;
}

.body-gen-padding-home {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: white;
}

.paysync-solution-home h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 26px;
  text-align: center;
  color: #14274e;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
}

.paysync-solution-home h3 {
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #14274e;
  opacity: 0.92;

  text-align: center;
}
.what-we-do-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-section-home {
  width: 50%;
}

.what-we-do-img {
  width: 50%;
}

.our-service-home {
  background-color: #f1f6f9;
  padding-top: 50px;
}

.what-we-do-img img {
  width: 100%;
}

.service-header-home {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
  color: #14274e;
}

.serve-list-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.service-home-list-img-wrap {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}

.serve-list-home div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.serve-list-home div h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #14274e;
}

.serve-list-home div p {
  font-size: 16px;
  line-height: 34px;
  text-align: right;
  color: #6f6f6f;
  margin-top: 4px;
}

.service-padding-home {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.subscription-news-home {
  background-color: #fff;
  padding: 50px 0;
}

.subscription-padding-home {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.subscription-header-home {
  text-align: center;
  font-weight: normal;
  font-size: 27px;
  line-height: 45px;
  text-align: center;
  color: #14274e;
}
.subscription-header-home img {
  position: relative;
  left: -30px;
  top: -4px;
  width: 58.96px;
  height: 39.31px;
  background: transparent;

}

.subscribe-label {
  font-family: Nunito;
  font-weight: bold;
  font-size: 27px;
  line-height: 40px;
  margin: 45px 0 20px 0;
  text-align: center;
  color: #14274e;
  opacity: 0.92;
}

.subscribe-wrapper-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.subscribe-now-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 64px;
  border-radius: 37px;
  background: #fff;
  border: 1px solid #18274b;
}

.arrow-recycle-left {
  position: relative;
  left: -50px;
  top: -20px;

}
.arrow-recycle-right {
  position: relative;
  right: -50px;
  top: -20px;
}
.subscribe-now-home button {
  width: 30%;
  max-width: 223px;
  height: 64px;
  border-radius: 0px 37px 37px 0px;
  color: #fff;
  background: #14274e;
  border: 1px solid #18274b;
  font-family: Nunito;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
.subscribe-now-home input {
  width: 70%;
  max-width: 423px;
  height: 64px;
  border-radius: 37px 0 0 37px;
  background: #fff;
  color: #14274e;
  border: 1px solid #18274b;
  font-family: Nunito;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
  padding-left: 30px;
}

.testimonials-home {
  padding-top: 50px;
  padding-bottom: 150px;
  background: #f1f6f9;
}
.testimonials-padding-home {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.testimonials-header-home {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 45px;
  text-align: center;
  color: #14274e;
}
.testimonials-padding-home small {
  font-family: Nunito;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #14274e;
  opacity: 0.48;
}
.testimonial-message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
  padding: 35px 50px;
  width: 45%;
  max-width: 582px;
  min-width: 210px;
  height: 322px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 26px rgba(156, 164, 179, 0.16);
}
.testimonial-message-box p {
  font-family: Nunito;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 32px;
  margin-top: 55px;
  text-align: center;
  color: #14274e;
  opacity: 0.82;
}
.testimonial-middle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.user-name-testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-name-testimony {
  position: relative;
  top: 28%;
}
.user-name-testimony img {
  width: 122.63px;
  height: 122.63px;
  /* background: url(...); */
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.user-img-testimony {
  font-family: Nunito;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 37px;
  color: #241b14;
}
.user-designation-testimony {
  font-family: Nunito;
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 37px;
  color: #241b14;
}
.previous-testimony {
  position: relative;
  left: 65px;
}
.next-testimony {
  position: relative;
  left: -65px;
}